body {
    background: linear-gradient(180deg, rgba(29, 33, 35, 0.8) 0%, #1D2123 61.48%), 
    url(/assets/Lead-image.png);
    background-repeat: no-repeat;
    background-position: center;
    /* width: 100%; */
    background-size: cover;
}


.lead{
    display: flex;
    gap: 27px;
    margin-bottom: 48px;
    /* justify-content: end; */
}
.lead img.image{
    min-width: 284px;
min-height: 288.97px;
border-radius: 35px;
}
.lead .lead-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: end;
    margin-bottom: 20px;
}
.lead-text h3{
    font-weight: 700;
font-size: 35px;
line-height: 120%;
/* identical to box height, or 42px */


color: #A4C7C6;
}
.lead-text .description{
    font-weight: 400;
font-size: 14px;
line-height: 120%;
/* or 17px */


/* light */

color: #EFEEE0;
}
.lead-text .duration{
    font-weight: 400;
font-size: 14px;
line-height: 120%;
margin-bottom: 30px;
color: #EFEEE0;
}
.buttons{
    display: flex;
    gap: 9px;
}
.lead button{
    padding: 11px 12px;
    border-radius: 32px;
    border: transparent;
    place-content: center;
    place-items: center;
background: rgba(255, 255, 255, 0.07);
backdrop-filter: blur(5px);
display: flex;
gap: 10px;

}

button .fa{
    
font-size: 14px;
}
button .fa-heart{
    color: #E5524A;
    /* padding-top: 2px; */
    font-size: 14px;
    }
button .fa-play{
    font-size: 8px;
    display: flex;
    place-content: center;
    place-items: center;
    padding-bottom: 0.9px;
    padding-left: 0.9px;
    width: 15px;
    height: 15px;
    background: #FACD66;
    /* padding: 2px; */
    /* background-color: #FFFFFF; */
    border-radius: 50%;
}
.lead button p{
    font-weight: 100;
font-size: 12px;
line-height: 120%;

color: #FFFFFF;
}



.songs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: red; */
}
.songs .music{
    display: flex;
    place-items: center;
    flex-basis: 100%;
    max-width: 100%;
    justify-content: space-between;
    /* justify-items: center; */
    padding: 8px 10px;
    background: rgba(51, 55, 59, 0.37);
backdrop-filter: blur(5px);
padding-right: 30px;
border-radius: 15px;
    /* background-color: red; */
}
.music .artwork{
    display: flex;
    gap: 20px;
    place-items: center;
    flex-basis: 15%;
    max-width: 14%;
}
.music .album, .infomation{
    display: flex;
    flex-basis: 43%;
    max-width: 43%;
    justify-content: space-between;
}

.album{
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    align-items: flex-start;
    place-items: center ;
}
.infomation{
    padding-left: 200px;
    
    align-items: flex-start;
}

.music p{
    text-align: left;
    text-align: center;
    font-weight: 400;
font-size: 12px;
line-height: 120%;

/* or 14px */


color: #FFFFFF;
}
.music .fa-solid{
    color: #FACD66;
    font-size: 15px;
    text-align: end;
    /* background-color: red; */

}
span.mobile{
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    display: none;
    /* or 14px */
    
    
    color: #FFFFFF;
}

@media screen and (max-width: 800px) {

    .album{
        display: flex;
        justify-content: space-between;
        padding-right: 0px;
        align-items: flex-start;
        place-items: center ;
    }
    .infomation{
        padding-left: 120px;
        
        align-items: flex-start;
    }
}

@media screen and (max-width: 619px) {
    .desktop{
        display: none;
    }
    span.mobile{
        display: block;
    }
    .lead{
        display: flex;
        flex-direction: column;
        gap: 27px;
        margin-bottom: 48px;
        /* justify-content: end; */
    }
    .lead .image{
        max-height: 289px;
    }
    .lead-text h3{
        font-size: 30px;
    }
    .buttons{
        width: 100%;
        display: flex;
        /* justify-content: space-between; */
        gap: 9px;
    }
    .music .artwork{
        display: flex;
        gap: 20px;
        place-items: center;
        flex-basis: 20%;
        max-width: 20%;
        /* background-color: beige; */
    }
    .music .album{
       
        display: flex;
        flex-direction: column;
        flex-basis: 64%;
        align-items: flex-start;
        gap: 6px;
        max-width: 64%;
    }
    .music .album, .infomation{
        display: flex;
        /* flex-basis: 43%;
        max-width: 43%; */
        justify-content: space-between;
    }
    .infomation{
        padding-left: 0px;
      gap: 10px;
        flex-direction:column-reverse;
        align-items: flex-end;
        flex-basis: 16%;
        max-width: 16%;
    }
.infomation .fa-solid{
    padding-right: 7px;
}
.songs .music{
    padding-right: 10px;
}

.music img.desktop{
    display: none;
    visibility: hidden;
}
}